@model IEnumerable<AmazooApp.Models.Product>

<div class="col-md-2 text-md-start">
  <form asp-action="Filter" asp-controller="Home">
    <div class="border-bottom pb-2 ml-2">
        <h4>Filters</h4>
    </div>
    <button type="submit" onclick="Save()"> Apply Filters</button>
    <div class="py-2 border-bottom ml-3">
        <h6 class="font-weight-bold">Type</h6>
        <div><span class="fa fa-minus"></span></div>
            <div class="form-group"> <input type="checkbox" id="cloth_id" name="chckBox" value="Clothes"> <label>Clothing</label> </div>
            <div class="form-group"> <input type="checkbox" id="prsonalCare_id" name="chckBox" value="Personal Care"> <label>Personal Care</label> </div>
            <div class="form-group"> <input type="checkbox" id="vidGames_id" name="chckBox" value="Video Games"> <label>Video Games</label> </div>
    </div>
      <div class="py-2 border-bottom ml-3">
        <h6 class="font-weight-bold">Brand</h6>
        <div><span class="fa fa-minus"></span></div>
@*        make it dynamic info from the db *@
            <div class="form-group"> <input type="checkbox" id="softie_id" name="chckBox" value="Softie"> <label>Softie</label> </div>
            <div class="form-group"> <input type="checkbox" id="nintendo_id" name="chckBox" value="Nintendo"> <label>Nintendo</label> </div>
            <div class="form-group"> <input type="checkbox" id="levis_id" name="chckBox" value="Levis"> <label>Levis</label> </div>
            <div class="form-group"> <input type="checkbox" id="dove_id" name="chckBox" value="Dove"> <label>Dove</label> </div>
            <div class="form-group"> <input type="checkbox" id="oral_id" name="chckBox" value="Oral B"> <label>Oral B</label> </div>
    </div>
    <div class="py-2 border-bottom ml-3">
        <h6 class="font-weight-bold">Availability</h6>
   @*     <form class="ml-md-2" asp-action="Index" asp-controller="Home">*@
            <div class="form-inline border rounded p-sm-2 my-2"> <input type="radio" value="inStck" name="type" id="inStck"> <label class="pl-1 pt-sm-0 pt-1">In Stock</label> </div>
            <div class="form-inline border rounded p-sm-2 my-2"> <input type="radio" value="outStck" name="type" id="outStck"> <label class="pl-1 pt-sm-0 pt-1">Out of Stock</label> </div>
   @*     </form>*@
    </div>
    </form>


</div>