<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AmazooApp</title>
    <link href="~/css/site.css" rel="stylesheet" type="text/css"/>
</head>

<body style="margin: 0px;">

    <div style="position: relative; min-height: 100vh;">

        <header>
            <nav class="navbar">
                <a class="app_title">
                    <i>Amazoo</i>
                </a>
            </nav>
        </header>

        <div id="content_wrap">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>

        <footer class="footer_whole">
            <div class="footer_row">
                <div class="footer_column">
                </div>
                <div class="footer_column">
                </div>

            </div>
        </footer>
    </div>

</body>

</html>
