<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AmazooApp</title>
    <link href="~/css/site.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="~/js/site.js"></script>
</head>

<body style="margin: 0px;">

    <div style="position: relative; min-height: 100vh;">

        <header>
            <nav class="navbar">
                <a class="app_title">
                    <i>Amazoo</i>
                </a>

                @{

                    bool loggedIn = true; //IMPLEMENT TO DETECT IF LOGGED IN
                    if (loggedIn)
                    {
                        bool isAdmin = true; //IMPLEMENT TO DETECT IF ADMIN

                        <button id="account_but" class="nav_elem" onclick="">
                            <img src="~/media/blank_profile.jpg" alt="blank_profile_img" />
                        </button>

                        if (isAdmin)
                        {
                            <button id="menu_but" class="nav_elem" onclick="showMenuAdmin()">
                                <img src="~/media/menu_logo.png" alt="menu_img" id="menu_img" />
                            </button>
                        }

                    }
                    else
                    {
                        <button id="menu_but" class="nav_elem" onclick="showMenu()">
                            <img src="~/media/menu_logo.png" alt="menu_img" id="menu_img" />
                        </button>
                    }
                }

                <button id="shopCart" class="nav_elem" onclick="">
                    <img src="~/media/cart_logo.png" alt="cart_img" id="cart_img" />
                </button>

                <div id="container"></div>
            </nav>
        </header>

        <div id="content_wrap">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>

        <footer class="footer_whole">
            <div class="footer_row">
                <div class="footer_column">
                    </br>
                    <p><strong>Amazoo Developers:</strong></p>
                    <div style="color:lightgray;">
                        <p>Dzmitry Fiodarau</p>
                        <p>Xavier Morgan-Tracy</p>
                        <p>Elion Abdyli</p>
                        <p>Kevin Armstrong Rwigamba</p>
                        <p>Gabriel Dolembreux</p>
                        <p>Olivier Langlois Medaino</p>
                        <p>Cosmin Suna</p>
                        <p>Harkirat Kaur</p>
                        <p>Marwan Al-Ghaziri</p>
                        <p>Ruowei Lin</p>
                        <p>Yoseph Assefa</p>
                    </div>
                </div>
                <div class="footer_column">
                    <small style="color:gray;">&copy; Copyright 2022, Amazoo</small>
                </div>

            </div>
        </footer>
    </div>

</body>

</html>
