@model IEnumerable<AmazooApp.Models.Review>

@{
    ViewData["Title"] = "Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-3" style="border-radius: 5%; box-shadow: 0 0 20px rgba(0,0,0,0.5); margin-top: 5%">
    @if (Model.Count() > 0)
    {
    <div style="text-align: center; margin: 30px 0 30px 0;">

        <h1>All Reviews for @ViewBag.Product.ProductName</h1>
        <br />
    </div>
        foreach (Review review in Model)
        {
            <br />
            <div class="border p-3">
                <div class="row col-12">
                    <div class="col-2" style="text-align:center">
                        <img alt="Customer" src="~/media/blank_profile.jpg" style="width: calc(50px + 2.5vw); height: calc(50px + 2.5vw); display: block; margin-left:auto; margin-right:auto;" />
                        <div style="display: block;">
                            @review.Customer
                        </div>
                    </div>

                    <div class="col-4">
                        @{
                            int rating = review.Rating;
                            for (int i = 0; i < rating; i++)
                            {
                                <label style="display: inline; font-size: calc(5px + 2.7vw);">&#9733;</label>
                            }
                        }
                    </div>

                    <div class="col-6 bg-light">
                        @review.Description
                    </div>
                </div>

            </div>
        }
    }
    else
    {
        <h1 style="color:gray">No Reviews Available</h1>
    }

</div>