/*NAVIGATION BAR STYLE*/
.navbar {
    background-color: black;
    height: fit-content;
}

.app_title {
    text-decoration: none;
    color: white;
    font-size: calc(45px + 2.5vw);
    margin: 10px;
    padding: 10px 0 10px 0;
}

/*NAVIGATION BAR STYLE END*/